<div class="header-container">
  <div class="row">
    <div class="logo-wrapper col-sm-2">Logo</div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
      <ul class="menu-links">
        <li class="menu-link">Menu 1</li>
        <li class="menu-link">Menu 2</li>
        <li class="menu-link">Menu 3</li>
      </ul>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3 user-info">
      <div class="user">
        <i class="material-icons">person</i>
        <span class="username">User</span>
      </div>
    </div>
  </div>
</div>
