.user-list-container {
  padding: 2rem;
}
.user-list-container h4 {
  padding: 2rem;
}
.user-list-container .data-container {
  padding: 2rem;
}
.user-list-container .data-container table {
  width: 100%;
}
.user-list-container .data-container table .material-icons {
  cursor: pointer;
}
.user-list-container .data-container .total-records {
  text-align: right;
  margin-right: 1rem;
  color: rgba(0, 0, 0, .4);
}
